[user]
	email = peter@helioid.com
	name = pld

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  b = branch
  cl = clone
  cm = commit
  co = checkout
  d = diff
  pl = pull
  ps = push
  r = rebase
  s = status
  st = stash
